@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho:wght@400;700&display=swap");

:root {
  font-family: "Noto Sans JP", "Kaisei Decol", Roboto, Arial, sans-serif, "Noto Color Emoji";

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #dad9d5;
  background-color: #252525;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.side-menu {
  background-color: #2a3b65;
}
.side-menu .more-menu {
  background-color: #2a3b65;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shippori Mincho", serif;
  font-weight: 700;
  color: #dad9d5;
}
h1.sans-serif {
  font-family: "Noto Sans JP", sans-serif;
}

header h1 {
  @apply mb-1;
}

header {
  @apply text-sm md:text-base;
}

a:link {
  color: #dad9d5;
}

a:visited {
  color: #dad9d5;
}

a:hover {
  color: #dad9d5;
  /* color: #a4c1ff; */
}

a:active {
  color: #a0def1;
  /* color: #27272a; */
}

button {
  cursor: pointer;
}

.link-btn {
  @apply inline-block bg-[#27272a] border-2 border-[#dad9d5] text-white font-semibold py-2 px-4 rounded-full hover:bg-[#3a3a3a] hover:translate-px duration-200;
}

.link-btn > svg {
  @apply inline-block;
}

.btn {
  @apply inline-block px-3 py-2 bg-gray-700 hover:bg-gray-600 rounded disabled:bg-gray-700 disabled:cursor-not-allowed transition-colors;
}

.btn > svg {
  @apply inline-block mb-1;
}

.btn-primary {
  @apply bg-[#3c7ddb] hover:bg-[#699cf8];
}

.btn-cancel {
  @apply bg-red-800 hover:bg-red-700;
}

.btn-control {
  @apply p-2;
}

.btn-control > svg {
  @apply block m-0 p-0;
}

.quick-filter-btn {
  @apply px-3 py-1.5 text-sm md:text-base
    first:rounded-l last:rounded-r
    hover:bg-gray-500 cursor-pointer
    bg-gray-600;
}

.quick-filter-btn-active {
  @apply bg-gray-500;
}

.sort-btn-group {
  @apply grid grid-cols-3 grid-cols-[1fr_1fr_1fr] w-full md:w-auto;
}

.sort-btn {
  @apply md:px-3 py-1
    text-xs md:text-base
    first:rounded-l
    last:rounded-r
    hover:bg-gray-500
    cursor-pointer
    bg-gray-600;
}

.sort-btn-active {
  @apply bg-gray-500;
}

.input-text {
  @apply px-3 py-[.3rem]
    rounded bg-gray-700 border border-gray-600
    text-sm md:text-base
    placeholder-gray-400
    focus:outline-none focus:border-gray-500;
}

/* Scrollbar styling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #a4c1ff;
}

::-webkit-scrollbar-track {
  background: #27272a;
}

.scrollbar-stable {
  scrollbar-gutter: stable;
}

/* Songs search styling */
.songs-search {
  @apply grid
    grid-cols-[auto_auto]
    [grid-template-areas:'keyword_keyword-field''artist_artist-field''title_title-field']
    md:grid-cols-[1fr_1fr_1fr]
    md:[grid-template-areas:'keyword_artist_title''keyword-field_artist-field_title-field']
    gap-2 mb-2;
}
.keyword {
  grid-area: keyword;
  justify-items: center;
}
.artist {
  grid-area: artist;
}
.title {
  grid-area: title;
}
.keyword-field {
  grid-area: keyword-field;
  width: 100%;
}
.artist-field {
  grid-area: artist-field;
  width: 100%;
}
.title-field {
  grid-area: title-field;
  width: 100%;
}

/* Songs table styling */
.song-table {
  @apply w-full bg-gray-800 border-collapse flex flex-col;
}

.row {
  @apply w-full mb-1 grid grid-cols-[3rem_1fr];
  grid-template-areas:
    "c1 c2"
    "c1 c3";
}

.row-header {
  @apply w-full mb-1
    grid grid-cols-[3rem_1fr];
  grid-template-areas: "c1 c2";
}

.col {
  @apply w-full md:px-3 md:py-2 transition-colors;
}

.col-1 {
  grid-area: c1;
  @apply p-1;

  & > button {
    @apply h-full m-auto block;
  }

  svg {
    @apply mr-0;
  }
}
.col-2 {
  grid-area: c2;
  @apply py-1;
}
.col-3 {
  grid-area: c3;
  @apply text-xs;
}

.col-header {
  @apply bg-gray-700 text-gray-300 text-sm uppercase;
}

@media (min-width: 768px) {
  .row {
    @apply grid-cols-[8rem_2fr_1fr];
    grid-template-areas: "c1 c2 c3";
  }

  .row-header {
    @apply grid-cols-[8rem_2fr_1fr];
    grid-template-areas: "c1 c2 c3";
  }
}

/* Statistics filter styling */
.statistics-filters {
  @apply grid
    grid-cols-[auto_1fr]
    md:grid-cols-[1fr_1fr_1fr]
    [grid-template-areas:'filter-mode_filter-mode-field''artist_artist-field''title_title-field']
    md:[grid-template-areas:'filter-mode_artist_title''filter-mode-field_artist-field_title-field']
    gap-1 md:gap-x-4 mb-2;
}
.filter-mode {
  grid-area: filter-mode;
}
.filter-mode-field {
  grid-area: filter-mode-field;
}
.statistics-filters > label {
  @apply block mb-1 self-center;
}
